Обучение с учителем

Задание 1

In [2]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

['data', 'feature_names', 'DESCR', 'target']

In [5]:
data = boston["data"]

data.shape

(506L, 13L)

In [6]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'],
      dtype='|S7')

In [7]:
target = boston["target"]

target[:10]

array([ 24. ,  21.6,  34.7,  33.4,  36.2,  28.7,  22.9,  27.1,  16.5,  18.9])

In [8]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [10]:
y = pd.DataFrame(target, columns=["price"])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.0 KB

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
y_pred = lr.predict(X_test)

y_pred.shape

(152L, 1L)

In [21]:
print("Прогнозы для тестового набора:\n{}".format(y_pred[:10]))

Прогнозы для тестового набора:
[[ 28.65507152]
 [ 36.50208976]
 [ 15.41877538]
 [ 25.4123428 ]
 [ 18.84504144]
 [ 23.15193132]
 [ 17.39045794]
 [ 14.07068504]
 [ 23.04106392]
 [ 20.5997909 ]]

In [29]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.71092035863262715

In [23]:
print("R^2 на тестовом наборе:{:.2f}".format(lr.score(X_test, y_test)))

R^2 на тестовом наборе:0.71

In [25]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

        y_pred  y_test
173  28.655072    23.6
274  36.502090    32.4
491  15.418775    13.6
72   25.412343    22.8
452  18.845041    16.1
76   23.151931    20.0
316  17.390458    17.8
140  14.070685    14.0
471  23.041064    19.6
500  20.599791    16.8

In [26]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

        y_pred  y_test     error
173  28.655072    23.6  5.055072
274  36.502090    32.4  4.102090
491  15.418775    13.6  1.818775
72   25.412343    22.8  2.612343
452  18.845041    16.1  2.745041

In [27]:
from sklearn.metrics import mean_squared_error

mean_squared_error(check_test["y_pred"], check_test["y_test"])

21.540218943931777